@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #181818;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#room-stats {
    display: flex;
    justify-content: space-evenly;
    color: #AAAAAA;
}

#sign-in {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 550px;
    border: 10px;
    background-color: #181818;
    color: #FCFFFF;
}

.input-form {
    margin: 20px 0 0 0;
}

#main-title {
    font-size: 50px;
    color: #FCFFFF;
}

.sub-title {
    font-size: 25px;
    padding: 0px;
    margin: 7px 0 7px 0;
    color: #AAAAAA;
}

.input-field {
    background-color: #181818;
    border: 1px;
    color:#FCFFFF;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0 ;
}

.input-text {
    font-size: 15px;
    color: #FCFFFF;
    margin: 0px;
}
